@import url(https://fonts.googleapis.com/css?family=Roboto:700,100,500);

body {
  background: #e0f2f1;
  text-align: center;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  margin: auto;
  position: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-left: -50%;
}

.text-center {
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #000000
  margin: 15px 0 25px;
  font-size: 30px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;

}

.title {
  font-size: 50px;
}

.random {
  font-size: 30px;
}

button {
  background: #15ec82;
  border-color: #15ec82;
  border-top-color: darken(#15ec82, 8%);
  border-bottom-color: darken(#15ec82, 14%);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: .4em .9em;
  text-overflow: ellipsis;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  appearance: none;
  box-sizing: border-box;

  &:active {
    border-width: 2px 1px 1px
  }
}
